/* Menu nya  */

#menu {
	background: #C4C4C4;
	color: #FFF;
	height: 37px;
	padding-left: 18px;
	margin-top: 35px;
	border-radius: 4px;
	/* border: 0.5px solid #000000; */
	background: url(/asset/img/bg-navbar.jpg) repeat-x center center;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 35px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
#menu a.dropdown-arrow:after {
	content: "\23F7";
	margin-left: 5px;
}
#menu li a:hover {
	color: #FFFFFF;
	background: #6e676e;
}
#menu > .responsive{
	display: none;
	margin: 0;
	padding: 0;
	height: 37px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 35px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	opacity: 0.9;
	height: auto;
	overflow: hidden;
	width: 200px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
	font-size: xx-small;
}
#menu ul.sub-menus li {
	display: block;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 12px;
	text-transform: uppercase;
	border-style: none none solid none;
	border-width: 1px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #C4C4C4;
	color: #000000;
}
/* search  */
#frm-search  button.btn.btn-xs{
	padding: .140rem .60rem !important;
}
/*  */
.input-group[class*="col-"]
{
	float: right;
}

@media screen and (max-width: 600px){
	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu > .responsive, #menu label {position:absolute;top:0;left:0;display:block}
	#menu > .responsive {z-index:4}
	#menu > .responsive:checked + label {color:white}
	#menu >.responsive:checked + label:before {content:"\D7"}
	#menu > .responsive:checked ~ ul {display:block}
	
}
@media screen and (max-width: 900px){
	.input-group[class*="col-"]
	{
		float: none;
	}
	
}
/* kontent */
.content{
	min-height: 500px;
}


/* footer */

.footer-bs {
    /* background-color: #3c3d41; */
	/* background-image:url(/asset/img/bg-distribution-map.jpg) no-repeat fixed center; */
	background: #b8b5b8 url(/asset/img/bg-distribution-map.jpg) repeat-y fixed bottom;
	background-size: 1000px 390px;;
	padding: 60px 40px;
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
	top: 100px;
	
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(0, 0, 0, 0.7); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgb(2, 2, 2); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(0, 0, 0, 0.8); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(0, 0, 0, 0.8); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(44, 41, 41, 0.6); text-decoration:none; }
.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgb(0, 0, 0);}
.footer-bs .footer-social a:hover { color:rgba(48, 45, 45, 0.8); text-decoration:none; }
.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(0, 0, 0, 0.7); }
@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(197, 151, 151, 0.1); }
}

/* carousole nya */
.carousel-caption {
	background-color: rgba(56, 54, 54, 0.6);
	padding: 0px;
	margin: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.box{
	height: 8em;
	max-width: 25em;
	border-radius: 5px;
	background: #b8b5b8 url(/asset/img/bg-home-sidebar.jpg) center center repeat-x;
	margin: 10px;
	box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow: #333 0px 0px 5px;
	transition: all 0.3s ease 0s;
}
.box a{
	text-decoration: none;
	color: rgb(41, 43, 41);
}
.box h5{
	font-size: 16px;
	padding-top: 15px;
	padding-left: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.box p{
	padding-left: 15px;
	width: 60%;
	font-weight: normal;
}
.box img{
	width: 110px;
	position: absolute;
	right: 40px;
	top: 50px;
}

.box-brand{
	position: relative;
	margin-bottom: 18px;
	height: 5em;
	width: 10em;
	border-radius: 5px;
	background: #b8b5b8 url(/asset/img/bg-home-sidebar.jpg) center center repeat-x;
	box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow: #333 0px 0px 5px;
	font-weight: bold;
	transition: all 0.3s ease 0s;
}
.box-brand:hover{
	transform: scale(1.2);
	z-index:100;
}
.box-brand img{
	width: 10em;
	/* Center vertically and horizontally */
	position: absolute;
	top: 0%;
	left: 0%;
	/* margin: -25px 0 0 -25px; apply negative top and left margins to truly center the element */
	/* padding-left: 15%; */
	/* padding-top: 5%; */
	margin: 1px;
	justify-content: center;
}

@media screen and(min-width: 768px) {
	.box-brand{
		position: relative;
		margin-bottom: 10px;
		height: 3em;
		/* width: 3em; */
	}
	.box-brand img{
		width: 100%;
		/* Center vertically and horizontally */
		/* position: absolute; */
		/* top: 0%; */
		/* left: 0%; */
		/* margin: -25px 0 0 -25px; apply negative top and left margins to truly center the element */
		/* padding-left: 15%; */
		/* padding-top: 5%; */
		margin: 1px;
		/* justify-content: center; */
	}
	.form-control-xs {
		height: calc(0em + .375rem + 5px) !important;
		padding: .125rem .25rem !important;
		font-size: .75rem !important;
		line-height: 1.5;
		border-radius: .2rem;
		background-color: #000000;
	}
}

.detail-merek .box-brand{
	margin-bottom: 3px;
	padding-bottom: 1.0em;
}
.detail-merek .box-brand:hover{
	transform: scale(1);
	z-index:100;
	filter: sepia(100%)
}
.detail-merek .box-brand button{
	margin-bottom: 1px;
}
.detail-merek .btn-block + .btn-block{
	margin-top: 0.5rem;
	margin-bottom: auto;
}
.detail-merek .custom-select{
	/* height: 25px; */
	/* padding:0px; */
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.left-xxx {
	height:380px;
	background:url(/asset/img/bg-tentang-menu.jpg) repeat-x;
	background-color:#0f0522;
	box-shadow:  #333 0px 0px 10px;
	-moz-box-shadow: #333 0px 0px 10px;
	-webkit-box-shadow:#333 0px 0px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}